# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Executables
*.exe

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Logs
*.log

# Local config
# camera_config.json
ptz_presets.json

# video files
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.ts
*.webm
*.rmvb
*.wmv
*.3gp
*.gif
*.h264
*.264
*.mjpeg
*.mjpg
*.yuv
*.raw
*.y4m
*.dav
*.asf
*.vob
*.f4v
*.m4v
*.rm
*.divx
*.ogv
*.mts

#go2rtc binaries
go2rtc_linux_amd64
go2rtc_linux_arm64
go2rtc_windows_amd64.exe
go2rtc_darwin_amd64
go2rtc_darwin_arm64
go2rtc
